<div class="container" style="margin-top: 70px;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>tag</th>
          <th>Updated date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes">
      
          <td>{{ note.id }}</td>
          <td> {{ note.title }}</td>
          <td> {{ note.description }}</td>
          <td> {{ note.status }}</td>          
          <td> {{ note.tags }}</td>
          <td> {{ note.lastUpdatedDate }}</td>
          <td>
            <button class="btn btn-primary" (click)="selectNote(note)">Show details</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="card text-center" *ngIf="selectedNote">
        <div class="card-header">
          #{{selectedNote.id}}
        </div>
        <div class="card-block">
          <h4 class="card-title">{{selectedNote.title}}</h4>
          <p class="card-text">
            {{selectedNote.description}}
          </p>
          <p>
            {{selectedNote.status}}
          </p>
          <p>
            {{selectedNote.tags}}
          </p>
          <p>
            {{selectedNote.lastUpdatedDate}}
          </p>
        </div>
      </div>
  </div>